<?xml version="1.0"?>
<robot name="dhand" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find dhand_description)/robots/dhand_adapted.urdf.xacro"/>
  
  <link name="world"/>
  <joint name="dhand_adapter_joint" type="fixed">
	<origin xyz="0 0 0.003" rpy="0 ${-M_PI/2} 0"/>
	<parent link="world"/>
	<child link="dhand_adapter_link"/>
  </joint>

  <!-- ====== Gazebo Elements ====== -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
  	  <robotNamespace>dhand</robotNamespace>
    </plugin>
  </gazebo>
  
</robot>
