<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find dhand_control)/config/dhand_joint_position_control.yaml" command="load"/>
	<!-- load the controllers -->
	<node name="controller_spawner" pkg="controller_manager"
		  type="spawner" output="screen" ns="dhand"
		  args="joint_state_controller
				joint_finger_base_right_position_controller
				joint_finger_base_left_position_controller
				joint_finger_middle_middle_position_controller
				joint_finger_middle_right_position_controller
				joint_finger_middle_left_position_controller
				joint_finger_top_middle_position_controller
				joint_finger_top_right_position_controller
				joint_finger_top_left_position_controller"/>

	<!-- convert joint states to TF transforms for rviz, etc -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
		  respawn="false" output="screen" ns="/dhand">
	</node>
</launch>
